{% extends "template.twig" %}

{% block content %}
    <div class="bg-indigo-900 relative overflow-hidden h-screen">
        <img src="https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg"
             class="absolute h-full w-full object-cover" alt="rick-and-morty background image"/>
        <div class="inset-0 bg-black opacity-25 absolute">
        </div>
        <div class="container mx-auto px-6 md:px-12 relative z-10 flex items-center py-32 xl:py-40">
            <div class="w-full font-mono flex flex-col items-center relative z-10">
                <h1 class="font-extrabold text-5xl text-center text-white leading-tight mt-4">
                    Sorry, nothing was found!
                </h1>
            </div>
        </div>
    </div>
{% endblock %}